<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
  <div class="container-fluid d-flex justify-content-between align-items-center p-2">
    <%= image_tag('arrow-left.svg', class: 'img-fluid', alt: 'Back', style: 'cursor: pointer; width:22px; filter: invert(1);', onclick: 'history.go(-1);') %>

    <% if current_user %>
      <h1 class="navbar-brand text-white">
        <% if controller_name == 'categories' %>
          Groups
        <% elsif controller_name == 'expenses' %>
          Transactions
        <% end %>
      </h1>
      <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light' %>
    <% end %>
  </div>
</nav>
