<div style="height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h2 style="margin-top: auto; color: #434b54;">Budget App</h2>
  <div class="d-flex flex-column gap-2" style="margin-top: auto; width: 92%;">
    <%= link_to "Log In", new_user_session_path, class: 'btn btn-light splash-btn btn-block', style: "background-color: #3778c2; color: #989da3;" %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-light splash-btn btn-block', style: "background-color: #3778c2; color: #989da3;" %>
  </div>
</div>
